*{
  box-sizing: border-box;
}
body{
  margin: 0px;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
  width: 150px;
  float: right;
  margin: 0px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}
p{
  float: left;
  margin: 15px;
  text-align: justify;
}
div{
  float: left;
  background-color: gray;
  border: 1px solid black;
}
.menu1{
  background-color: pink;
}
.menu2{
  background-color: red;
}
.menu3{
  background-color: yellow;
}

@media (min-width: 922px){
  .desktop
  {
    width: 30%;
    margin-left: 2.5%;
  }
}
@media (min-width: 768px) and (max-width: 991px){
  .tablet-1{
    width: 86%;
    margin-left: 6%;
    margin-bottom: 6%;
  }
  .tablet-2{
    width: 40%;
    margin-left: 6%;
    margin-bottom: 6%;
  }
}

@media (max-width: 767px){
  .mobile
  {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
}
